.Project{
  
  background:#6CDAB2;
border-top: 2px solid #6CDAB2;
    height: 100%;
    width: 100%;
 border-bottom: 2px solid white;
}
.Project_title{
    text-align: center;
    color: white;
    margin-bottom: 3em;
}
.Project_hedding{
    position: relative;
    display: inline-block;
    font-size: 2.4em;
    font-weight:400;
    margin:30px 0;
}
.Project_hedding::after{
    position: absolute;
    content: "";
    top:100%;
    height:2px;
    width: 50px;
    left: 50%;
    right: 0;
    margin:0 auto;
    background:rgb(248,140,101);
}
