
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.header-class{
   position:fixed;

   width:95vw;

}
.header-text{
    float: right;
    background: rgba(0, 0, 0, 0.6);
    color:white;
   height:64px; 
   width: 775px;
   border-radius: 2px 2px 30px 30px;
}
.header-class ul {
    list-style: none;
    margin:0;
    
}
.header-li{
    font-family: 'Roboto', sans-serif;
       margin-right: 3rem;
       padding:1.5rem;
    float: right;
    border: 0;
    cursor: pointer;
      opacity: 0.6;
}

.header-class ul li:hover{
      opacity: 1;
}

.blank_white{
    background: transparent;
    width:40%;
    height: 64px;
}

body{
    overflow-x: hidden;
    
}
html{
        scroll-behavior: smooth; 
}
.bar_menu_container{
    display:grid;
    justify-content: flex-end;
  
}
.bar_open{
    padding:20px;
    cursor: pointer;
   
    margin:0;
}
.bar1,.bar2,.bar3{

       width:35px;
       height:5px;
       background-color: gray;
       margin: 6px 0;
       transition: 0.4s;
   }
   .bar_close{
    padding:20px;
    padding-left: 0;
    cursor: pointer;
   
    margin:0;
   }
    .bar_close .bar1{
    -webkit-transform: rotate(-45deg)
    translate(-9px,6px);
    transform:rotate(-45deg)
    translate(-9px,6px);
    }
    .bar_close .bar2{
        opacity:0;
    }
    .bar_close .bar3{
        -webkit-transform: rotate(45deg)
    translate(-8px,-8px);
    transform:rotate(45deg)
    translate(-8px,-8px);
    }
  
    .bar_menu{
        display: grid;
        color: gray;
        font-size:17px;
        list-style: none;
        padding:0px;
        grid-gap: 21px;
    }
    .bar_li{
        font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color:gray;
      opacity: 0.6;
    }
