
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:500');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
.Row{
    display: flex;
    flex-wrap: wrap;
  
}
.Box{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 50vw;
    border-radius: 4px;
    margin:0 auto 30px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}
.Box_image{
    width:  50%;
    
}
.image{
   width: 100%;
   height:100%;
}
.Box_info{
    font-family: 'Gothic A1', sans-serif;
    padding:14px;
    margin-left: 2rem;
}

.Box_content{
    font-size: 1.1em;
}

.company {
    font-weight: 700;
    font-size: 1.3em;
}

.name{
    font-weight:500;
    font-size: 1.1em;
    
}
.Box_ul{
    list-style: none;
    padding-left: 0;
  
}
.Box_li{
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
}
.icon_image{
    width: 30px;
    height:30px;
}
@media screen and (max-width: 768px){
    .Row{
        font-size: 10px;
        width: 100%;
        flex-direction: column;
    }
    .Box{
        width: 100%;
        max-width: 100%;
        height:50%;
        display: grid;
    }
    .Box_image{
        height:59%;
        width: 100%;
    }
    .image{
       width: 100%;
       height:240px;
    }
    .Box_title{
        font-family: 'Noto Sans TC', sans-serif;
        font-weight:500;
        font-size:14px;

    }
    
    
}