
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:500');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
.Row{
    display: flex;
    flex-wrap: wrap;
  
}
.Box{
    height: 360px;
    
    width: 100%;
    max-width: 80vw;
    border-radius: 4px;
    margin:0 auto 30px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}
.Box_image{
    float: left;
    width:  35%;
    height:360px;
    margin-right:2rem;
}
.image{
   width: 100%;
   height:360px;
}
.Box_info{
    font-family: 'Gothic A1', sans-serif;
    padding:14px;
}

.Box_content{
    font-size: 1.3em;
    
}
.name{
    font-weight:500;
    font-size: 1.3em;
}
.Box_ul{
    list-style: none;
  
}
.Box_li{
    display: inline-block;
    cursor: pointer;
}
.icon_image{
    width: 25px;
    height:30px;
}
@media (max-width: 576px){
    .Row{
        font-size: 10px;
        width: 100%;
    }
    .Box{
        margin-right: 3%;
        margin-left: 3%;
        width: 100%;
        max-width: 100%;
        height:50%;
        display: grid;
    }
    .Box_image{
        float: left;
        height:59%;
     
        width: 100%;
    }
    .image{
       width: 100%;
       height:240px;
    }
    .Box_title{
        font-family: 'Noto Sans TC', sans-serif;
        font-weight:500;
        font-size:14px;
        text-align: center;
    }
    
    
}