@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100');
.Skill{
    height: 100%;
    width: 100%;
    margin:0 auto;
text-align: center;
padding-bottom:5rem;
background: rgb(231, 230, 230);

}
.Skill_Heeding{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 2.4em;
    font-weight:400;
    margin:30px 0;
    
}
.Skill_Heeding::after{
    position: absolute;
    content: "";
    top:100%;
    height:2px;
    width: 30px;
    left: 0;
    right: 70%;
    margin:0 auto;
    background:rgb(253, 198, 198);
}
.Skill_image_container{
    text-align: center;
    display: inline-block;
    width:114px;
    height:116px;
    border-radius: 30px 30px;
    
    background-size:cover;
    background-repeat: no-repeat;
    margin-right: 2rem;
    
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}
.Skill_label{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    border-radius: 30px 30px;
    width: 100px;
    height:100px;
    padding:10px;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.0rem;
    color: white;
    visibility: hidden;
}

.Skill_image_container:hover .Skill_label{
    visibility:visible;
    animation: fadeout1 0.5s;
    -moz-animation: fadeout1 0.5s; /* Firefox */
    -webkit-animation: fadeout1 0.5s; /* Safari and Chrome */
    -o-animation:fadeout1 0.5s; /* Opera */

}@keyframes fadeout1 {
    0%{
        opacity: 0;
    }

    100% {
        opacity:0.8;
    }
}
@-moz-keyframes fadeout1 { /* Firefox */
    0%{
        opacity: 0;
    }
 
    100% {
        opacity:0.8;
    }
}
@-webkit-keyframes fadeout1 { /* Safari and Chrome */
    0%{
        opacity: 0;
    }
   
    100% {
        opacity:0.8;
    }
}
@-o-keyframes fadeout1 { /* Opera */
    0%{
        opacity: 0;
    }
  
    100% {
        opacity:0.8;
    }
}

@media (max-width: 576px){
    .Skill_image_container{
        width: 100px;
        height: 100px;
    margin: 5px;
    }
    .Skill_label{
        width: 84px;
        height: 84px;
    }
}
